body{
    margin: 0;
    padding: 0;
    background-color: #42a1f5;
font-family: 'Young Serif', serif;
}
#player_name_input1{
    display: inline-block;
    margin-left: 5px;
}
.login_div1{
    background-color: lawngreen;
    float: none;
    padding: 10px;
    border-radius: 20px;
    width: 500px;
}
    
    
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    